{% extends "_template.html.twig" %}

{% block title %}
    Nouveautés
{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="title">Nouveautés</h2>
    </div>
{% endblock %}
