{% extends "_template.html.twig" %}

{% block title %}
    Nouveautés
{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="title">Nouveautés</h2>
        <p>Albums sortis il y a moins d'un mois</p>

        <hr>
        <h3 class="subtitle">
            Nouveautés: {{ releases|length }}
        </h3>
        {% include 'includes/record_list.html.twig' with {records: releases} %}
    </div>
{% endblock %}
