{% extends "_template.html.twig" %}

{% block title %}
    Profil
{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="title">Modifier votre profil</h2>

        {% include 'includes/flash_message.html.twig' %}

        {{ form_start(profile_form) }}
            {{ form_row(profile_form.email, {
                label: 'Adresse email'
            }) }}

            {{ form_row(profile_form.pseudo, {
                label: 'Pseudo'
            }) }}

            <button class="button is-primary is-fullwidth" type="submit">
                Mettre à jour
            </button>
        {{ form_end(profile_form) }}
    </div>
{% endblock %}
